@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face {
    font-family: euclid;
    src: url(./assets/fonts/euclid_regular.ttf);
  }
  @font-face {
    font-family: euclid_bold;
    src: url(./assets/fonts/euclid_bold.ttf);
  }
  @font-face {
    font-family:euclid_medium;
    src: url(./assets/fonts/euclid_medium.ttf);
  }
  @font-face {
    font-family: euclid_light;
    src: url(./assets/fonts/euclid_light.ttf);
  }
  @font-face {
    font-family: euclid_semi_bold;
    src: url(./assets/fonts/euclid_semi_bold.ttf);
  }
  @font-face {
    font-family: Freeroad ;
    src: url(./assets/fonts/Freeroad\Bold.ttf);
  }
  @font-face {
    font-family: poppions-r;
    src: url(./assets/fonts/Poppins-Regular.ttf);
  }
  @font-face {
    font-family: poppions-m;
    src: url(./assets/fonts/Poppins-Medium.ttf);
  }
  @font-face {
    font-family: poppions-b;
    src: url(./assets/fonts/Poppins-Bold.ttf);
  }
  @font-face {
    font-family: firesans-r;
    src: url(./assets/fonts/FiraSans-Regular.ttf);
  }
  @font-face {
    font-family: firesans-sb;
    src: url(./assets/fonts/FiraSans-SemiBold.ttf);
  }
  @font-face {
    font-family: openSans-r;
    src: url(./assets/fonts/OpenSans-Regular.ttf);
  }
  @font-face {
    font-family: openSans-b;
    src: url(./assets/fonts/OpenSans-Bold.ttf);
  }
  @font-face {
    font-family: openSans-sb;
    src: url(./assets/fonts/OpenSans-Semibold.ttf);
  }

#cardbg{
  position: relative;
}

#bg::after{
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0; 
  
  overflow: hidden;
  z-index: -1;
  border-radius: 20px;
}
#bg:hover::after{
  transition: 1s;
  transform: rotateY(3.142rad); 
  background-color: #FF3D01;
  /* transform: rotate3d(0, 1, 0.5, 3.142rad); */
} 
